<!DOCTYPE html>
{%  extends 'booking/main.html' %}
{% block content %}
<html>
<head>
	<title>Select  advisors to book</title>
	<style>
		.login_btn {
			width: 20%;
			background: #33ccff !important;
			color: white !important;
		}
		.ls-advisor{
				display:block;
				float:left;
				padding-right:5px;
				padding-top:7px;
				margin-left:400px;
				color:red;
		}
	</style>
</head>
<body>
<form method="POST">
<!--	name="dropdown">-->
{%csrf_token%}
		<div class="ls-advisor" ><b>SELECT ADVISORS ---> </b></div>
		<div>
			<select name="bookpeople">
			<option selected disabled = "True" >list of advisors	</option>
			{% for i in displayaddadvisor %}
				<option >{{i.advname}}</option>
			{%endfor%}


		</select>
		<br>
		<hr>
	<center>
		<input class="btn login_btn" type="submit" value="Book Advisor">

	</center>
	</div>
</form>
</body>
</html>
{% endblock content %}
