<!--<h1>booking info<h1>-->
{%  extends 'booking/main.html' %}
{% load static %}
{% block content %}

    <div class="col-md-7">
		<h5>LIST OF BOOKED ADVISORS </h5>
		<hr>
		<div class="card card-body">
<!--			<a class="btn btn-primary  btn-sm btn-block" href="{url 'book'}">Booked Advisors</a>-->
			<table class="table table-sm">
				<tr>
					<th>Advisor ID</th>
					<th>Advisor Name</th>
					<th>Advisor Pic</th>
					<th>Booking ID</th>
					<th>Booking Time</th>
				</tr>


<!--					{% for i in advdisplay.adv.all %}-->
<!--						<tr>-->
<!--							<td>{{i.advname}}</td>-->

<!--&lt;!&ndash;							<td>{{i.ad}}</td>&ndash;&gt;-->
<!--							<td>{{i.profilepic}}</td>-->
<!--							<td>{{i.id}}</td>-->
<!--&lt;!&ndash;							<td><img src="/{{ BASIC_DIR }}/{{img.img}}" width="120"/></td>&ndash;&gt;-->
<!--							<td>{{i.date_created}}</td>-->
<!--						</tr>-->
<!--					{%endfor%}-->


					{% for i in displayadvisor %}
						<tr>
							<td>{{i.dispalyadvisor.id}}</td>

							<td>{{i.advname}}</td>
							<td>{{i.profilepic}}</td>
							<td>{{i.id}}</td>
<!--							<td><img src="/{{ BASIC_DIR }}/{{img.img}}" width="120"/></td>-->
							<td>{{i.date_created}}</td>
						</tr>
					{%endfor%}

			</table>
		</div>
	</div>

</div>
{% endblock content %}
