<!--<h1>list</h1>-->
<!DOCTYPE html>

{%  extends 'booking/main.html' %}

{% block content %}
<html>
<head>
	<title>Select  advisors to book</title>
	<style>
		.login_btn {
			width: 20%;
			background: #33ccff !important;
			color: white !important;
		}
		.ls-advisor{
				display:block;
				float:left;
				padding-right:5px;
				padding-top:7px;
				margin-left:400px;
				color:red;
		}

	</style>
</head>
<body>

<!--<form method="POST" action="{% url 'userdashboard'%}">-->
<form method="POST">
<!--	name="dropdown">-->
{%csrf_token%}

<!--	<table>-->
<!--		<tr>-->
<!--			<th>name</th>-->
<!--			<th>pic</th>-->
<!--			<th>id</th>-->
<!--		</tr>-->
		<div class="ls-advisor" ><b>SELECT ADVISORS ---> </b></div>
		<div>
<!--	<center>-->
<!--			<tr>-->
<!--		<td>-->
			<select name="bookpeople">
			<option selected disabled = "True" >list of advisors	</option>

<!--				<option>dummy</option>-->
			{% for i in displayaddadvisor %}

				<option >{{i.advname}}</option>
<!--				<option>{{i.id}}</option>-->

<!--				<option>{{i.addadvisor.id}}</option>-->
			{%endfor%}


		</select>
<!--		</td>-->
<!--			</tr>-->
<!--			<tr>-->
<!--			<td><img src="{{i.profilepic}}" alt=""></td>-->
<!--			</tr>-->
<!--			<tr>-->

<!--				<td>{{i.id}}</td>-->
<!--			</tr>-->
		<br>
		<hr>
	<center>
		<input class="btn login_btn" type="submit" value="Book Advisor">

	</center>
	</div>
<!--	</table>-->
<!--	<div class="d-flex justify-content-center mt-3 login_container">-->

<!--				   			</div>-->




</form>

<!--<script src=""-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->

<!--<script>-->
<!--    $("#id_college").change(function () {-->
<!--      var url = $("#studentForm").attr("data-branches-url");-->
<!--      var collegeId = $(this).val();-->

<!--      $.ajax({-->
<!--        url: url,-->
<!--        data: {-->
<!--          'college': collegeId-->
<!--        },-->
<!--        success: function (data) {-->
<!--          $("#id_branch").html(data);-->
<!--        }-->
<!--      });-->

<!--    });-->
<!--  </script>-->
</body>
</html>


{% endblock content %}
